# Segmenting and Clustering Neighborhoods in the city of Toronto, Canada.

First, we need to import pandas, and download the data. Then we visualize it in order to know what we need to do for cleaning.

In [1]:
import pandas as pd
d=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)
d

[    Postcode           Borough  \
 0        M1A      Not assigned
 1        M2A      Not assigned
 2        M3A        North York
 3        M4A        North York
 4        M5A  Downtown Toronto
 5        M5A  Downtown Toronto
 6        M6A        North York
 7        M6A        North York
 8        M7A      Queen's Park
 9        M8A      Not assigned
 10       M9A         Etobicoke
 11       M1B       Scarborough
 12       M1B       Scarborough
 13       M2B      Not assigned
 14       M3B        North York
 15       M4B         East York
 16       M4B         East York
 17       M5B  Downtown Toronto
 18       M5B  Downtown Toronto
 19       M6B        North York
 20       M7B      Not assigned
 21       M8B      Not assigned
 22       M9B         Etobicoke
 23       M9B         Etobicoke
 24       M9B         Etobicoke
 25       M9B         Etobicoke
 26       M9B         Etobicoke
 27       M1C       Scarborough
 28       M1C       Scarborough
 29       M1C       Scarborough
 ..       ...               ...
 258      M9X      Not assigned
 259      M1Y      Not assigned
 260      M2Y      Not assigned
 261      M3Y      Not assigned
 262      M4Y  Downtown Toronto
 263      M5Y      Not assigned
 264      M6Y      Not assigned
 265      M7Y      East Toronto
 266      M8Y         Etobicoke
 267      M8Y         Etobicoke
 268      M8Y         Etobicoke
 269      M8Y         Etobicoke
 270      M8Y         Etobicoke
 271      M8Y         Etobicoke
 272      M8Y         Etobicoke
 273      M8Y         Etobicoke
 274      M9Y      Not assigned
 275      M1Z      Not assigned
 276      M2Z      Not assigned
 277      M3Z      Not assigned
 278      M4Z      Not assigned
 279      M5Z      Not assigned
 280      M6Z      Not assigned
 281      M7Z      Not assigned
 282      M8Z         Etobicoke
 283      M8Z         Etobicoke
 284      M8Z         Etobicoke
 285      M8Z         Etobicoke
 286      M8Z         Etobicoke
 287      M9Z      Not assigned

                                          Neighbourhood
 0                                         Not assigned
 1                                         Not assigned
 2                                            Parkwoods
 3                                     Victoria Village
 4                                         Harbourfront
 5                                          Regent Park
 6                                     Lawrence Heights
 7                                       Lawrence Manor
 8                                         Not assigned
 9                                         Not assigned
 10                                    Islington Avenue
 11                                               Rouge
 12                                             Malvern
 13                                        Not assigned
 14                                     Don Mills North
 15                                    Woodbine Gardens
 16                                       Parkview Hill
 17                                             Ryerson
 18                                     Garden District
 19                                           Glencairn
 20                                        Not assigned
 21                                        Not assigned
 22                                          Cloverdale
 23                                           Islington
 24                                        Martin Grove
 25                                    Princess Gardens
 26                                     West Deane Park
 27                                      Highland Creek
 28                                          Rouge Hill
 29                                          Port Union
 ..                                                 ...
 258                                       Not assigned
 259                                       Not assigned
 260                                       Not assigned
 261                                       Not assigned
 262                               Church and Wellesley
 263                                       Not assigned
 264                                       Not assigned
 265  Business Reply Mail Processing Centre 969 Eastern
 266                                         Humber Bay
 267                                   King's Mill Park
 268                           Kingsway Park South East
 269                                          Mimico NE
 270                                     Old Mill South
 271                                 The Queensway East
 272                              Royal York South East
 273                                           Sunnylea
 274                                       Not assigned
 275                                       Not assigned
 276                                       Not assigned
 277                                       Not assigned
 278                                       Not assigned
 279                                       Not assigned
 280                                       Not assigned
 281                                       Not assigned
 282                           Kingsway Park South West
 283                                          Mimico NW
 284                                 The Queensway West
 285                              Royal York South West
 286                                     South of Bloor
 287                                       Not assigned

 [288 rows x 3 columns],
                                           Unnamed: 0 Canadian postal codes  \
 0  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...                    NL
 1                                                 NL                    NS
 2                                                  A                     B

   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
 0         NS         PE         NB         QC         ON         MB
 1         PE         NB         QC         ON         MB         SK
 2          C          E          G          H          J          K

   Unnamed: 8 Unnamed: 9     ...     Unnamed: 21 Unnamed: 22 Unnamed: 23  \
 0         SK         AB     ...               L           M           N
 1         AB         BC     ...             NaN         NaN         NaN
 2          L          M     ...             NaN         NaN         NaN

   Unnamed: 24 Unnamed: 25 Unnamed: 26 Unnamed: 27 Unnamed: 28 Unnamed: 29  \
 0           P           R           S           T           V           X
 1         NaN         NaN         NaN         NaN         NaN         NaN
 2         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 30
 0           Y
 1         NaN
 2         NaN

 [3 rows x 31 columns],
   NL NS PE NB QC ON MB SK AB BC NU/NT YT Unnamed: 12 Unnamed: 13 Unnamed: 14  \
 0  A  B  C  E  G  H  J  K  L  M     N  P           R           S           T

   Unnamed: 15 Unnamed: 16 Unnamed: 17
 0           V           X           Y  ]

We see that there are 3 tables, and the one we need is the first. So, we select it and replace 'Not assigned values' by 'NAN'.

In [2]:
d0=d[0]

import numpy as np
d0.replace("Not assigned", np.nan, inplace=True)
d0

,Postcode,Borough,Neighbourhood
0,M1A,NaN,NaN
1,M2A,NaN,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Harbourfront
5,M5A,Downtown Toronto,Regent Park
6,M6A,North York,Lawrence Heights
7,M6A,North York,Lawrence Manor
8,M7A,Queen's Park,NaN
9,M8A,NaN,NaN
10,M9A,Etobicoke,Islington Avenue
11,M1B,Scarborough,Rouge
12,M1B,Scarborough,Malvern
13,M2B,NaN,NaN
14,M3B,North York,Don Mills North
15,M4B,East York,Woodbine Gardens
16,M4B,East York,Parkview Hill
17,M5B,Downtown Toronto,Ryerson
18,M5B,Downtown Toronto,Garden District
19,M6B,North York,Glencairn
20,M7B,NaN,NaN
21,M8B,NaN,NaN
22,M9B,Etobicoke,Cloverdale
23,M9B,Etobicoke,Islington
24,M9B,Etobicoke,Martin Grove
25,M9B,Etobicoke,Princess Gardens
26,M9B,Etobicoke,West Deane Park
27,M1C,Scarborough,Highland Creek
28,M1C,Scarborough,Rouge Hill
29,M1C,Scarborough,Port Union
...,...,...,...
258,M9X,NaN,NaN
259,M1Y,NaN,NaN
260,M2Y,NaN,NaN
261,M3Y,NaN,NaN
262,M4Y,Downtown Toronto,Church and Wellesley
263,M5Y,NaN,NaN
264,M6Y,NaN,NaN
265,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
266,M8Y,Etobicoke,Humber Bay
267,M8Y,Etobicoke,King's Mill Park
268,M8Y,Etobicoke,Kingsway Park South East
269,M8Y,Etobicoke,Mimico NE
270,M8Y,Etobicoke,Old Mill South
271,M8Y,Etobicoke,The Queensway East
272,M8Y,Etobicoke,Royal York South East
273,M8Y,Etobicoke,Sunnylea
274,M9Y,NaN,NaN
275,M1Z,NaN,NaN
276,M2Z,NaN,NaN
277,M3Z,NaN,NaN
278,M4Z,NaN,NaN
279,M5Z,NaN,NaN
280,M6Z,NaN,NaN
281,M7Z,NaN,NaN
282,M8Z,Etobicoke,Kingsway Park South West
283,M8Z,Etobicoke,Mimico NW
284,M8Z,Etobicoke,The Queensway West
285,M8Z,Etobicoke,Royal York South West
286,M8Z,Etobicoke,South of Bloor
287,M9Z,NaN,NaN

Now, as instruction, the rows in which there is a valid borough but an invalid neighborhood, the borough value needs to be assigned as neighborhood value too.

In [3]:
d0.loc[d0['Neighbourhood'].isnull(),'Neighbourhood'] = d0['Borough']
d0.head()

  Postcode           Borough     Neighbourhood
0      M1A               NaN               NaN
1      M2A               NaN               NaN
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Drop the NaN values

In [4]:
d0.dropna(inplace=True)
d0.reset_index(drop=True, inplace=True)
d0.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

Now, we create a new dataframe in which there are merged cells, grouped by postcode.

In [5]:
result = d0.groupby(['Postcode'], sort=False).agg( ', '.join)
result.head()

                                     Borough                     Neighbourhood
Postcode
M3A                               North York                         Parkwoods
M4A                               North York                  Victoria Village
M5A       Downtown Toronto, Downtown Toronto         Harbourfront, Regent Park
M6A                   North York, North York  Lawrence Heights, Lawrence Manor
M7A                             Queen's Park                      Queen's Park

#  Now the result DataFrame

In [6]:
result.reset_index(inplace=True)
result.head(10)

,Postcode,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,"Downtown Toronto, Downtown Toronto","Harbourfront, Regent Park"
3,M6A,"North York, North York","Lawrence Heights, Lawrence Manor"
4,M7A,Queen's Park,Queen's Park
5,M9A,Etobicoke,Islington Avenue
6,M1B,"Scarborough, Scarborough","Rouge, Malvern"
7,M3B,North York,Don Mills North
8,M4B,"East York, East York","Woodbine Gardens, Parkview Hill"
9,M5B,"Downtown Toronto, Downtown Toronto","Ryerson, Garden District"

Note: It seems that the postcode are ordered by number, and then alfabetically. This can be slightly different from the example in the peer-graded assignment, but it does not mean that my dataframe is incorrect.

In [7]:
result.shape

(103, 3)

Download data

In [8]:
!wget -q -O 'coordinates.csv' https://cocl.us/Geospatial_data
print('Data downloaded!')

Data downloaded!

Convert data to dataframe

In [9]:
coor=pd.read_csv('coordinates.csv')
coor.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Assign coordinates to each post code.

In [10]:
coordinates=pd.DataFrame(columns=['Latitude', 'Longitude'])
coordinates.head()

Empty DataFrame
Columns: [Latitude, Longitude]
Index: []

Fill the dataframe

In [11]:
for i in range(103):
    for j in range(103):
        if result['Postcode'][i] == coor['Postal Code'][j]:
            coordinates = coordinates.append({'Latitude': coor['Latitude'][j], 'Longitude': coor['Longitude'][j]}, ignore_index=True)

coordinates

      Latitude  Longitude
0    43.753259 -79.329656
1    43.725882 -79.315572
2    43.654260 -79.360636
3    43.718518 -79.464763
4    43.662301 -79.389494
5    43.667856 -79.532242
6    43.806686 -79.194353
7    43.745906 -79.352188
8    43.706397 -79.309937
9    43.657162 -79.378937
10   43.709577 -79.445073
11   43.650943 -79.554724
12   43.784535 -79.160497
13   43.725900 -79.340923
14   43.695344 -79.318389
15   43.651494 -79.375418
16   43.693781 -79.428191
17   43.643515 -79.577201
18   43.763573 -79.188711
19   43.676357 -79.293031
20   43.644771 -79.373306
21   43.689026 -79.453512
22   43.770992 -79.216917
23   43.709060 -79.363452
24   43.657952 -79.387383
25   43.669542 -79.422564
26   43.773136 -79.239476
27   43.803762 -79.363452
28   43.754328 -79.442259
29   43.705369 -79.349372
..         ...        ...
73   43.715383 -79.405678
74   43.672710 -79.405678
75   43.648960 -79.456325
76   43.636966 -79.615819
77   43.688905 -79.554724
78   43.794200 -79.262029
79   43.704324 -79.388790
80   43.662696 -79.400049
81   43.651571 -79.484450
82   43.781638 -79.304302
83   43.689574 -79.383160
84   43.653206 -79.400049
85   43.815252 -79.284577
86   43.686412 -79.400049
87   43.628947 -79.394420
88   43.605647 -79.501321
89   43.739416 -79.588437
90   43.799525 -79.318389
91   43.679563 -79.377529
92   43.646435 -79.374846
93   43.602414 -79.543484
94   43.706748 -79.594054
95   43.836125 -79.205636
96   43.667967 -79.367675
97   43.648429 -79.382280
98   43.653654 -79.506944
99   43.665860 -79.383160
100  43.662744 -79.321558
101  43.636258 -79.498509
102  43.628841 -79.520999

[103 rows x 2 columns]

# Merge the columns and get the Result DataFrame

In [12]:
result['Latitude']=coordinates['Latitude']
result['Longitude']=coordinates['Longitude']
result.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,"Downtown Toronto, Downtown Toronto","Harbourfront, Regent Park",43.654260,-79.360636
3,M6A,"North York, North York","Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494

In [13]:
result.shape

(103, 5)